/* Common Styles */
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/* Button */
.order-service-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

/* Header Styles */
.page-header {
  background-color: #ffffff;
  margin: auto;
}

.logotype {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logotype-studio-header {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.menu {
  align-content: center;
}

.menu-link {
  color: #2e2f42;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adress {
  font-style: normal;
}

.social-list-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-link:hover {
  color: #404bbf;
  text-decoration: underline;
}
.menu-link:focus {
  color: #404bbf;
  text-decoration: underline;
}

.social-list-link:hover,
.social-list-link:focus {
  color: #404bbf;
}

/* Hero Styles */
.page-title {
  background-color: #2e2f42;
  margin: auto;
}

.page-main-title {
  color: #ffffff;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* Benefits Styles */
.page-benefits-list-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.page-benefits-list-desription {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our Team Styles */
.our-team {
  background-color: #f4f4fd;
}

.our-team-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-team-list-item {
  background-color: #ffffff;
}

.our-team-name-surename {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-team-position {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our Portfolio Styles */
.portfolio {
  background-color: #f4f4fd;
}

.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.our-portfolio-name-progect {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-portfolio-progect-category {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer Styles */
.footer {
  background-color: #2e2f42;
}

.logotype-studio-footer {
  color: #f4f4fd;
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
